<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
    <%- include('./header') %>

    <div class="continer-fluid">
      <div class="row ">
        <div class="col-lg-3 col-xl-3 col-md-10 mx-auto justify-content-center">
          <div class="card mt-5 shadow mb-5 bg-white rounded border-danger" >
            <div class="card-img">
              <img src="https://images.pexels.com/photos/1229861/pexels-photo-1229861.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="" srcset="" width="100%" />
            </div>
              <div class="card-body">
                <h4>card title</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.  voluptate?</p>
                  <a href="users/cart" class="btn btn-outline-danger btn-block">Add to Cart</a>
                  <a href="users/register" class="btn btn-danger btn-block" >Buy Now</a>
              </div>
          </div>
        </div>
      </div>
    </div>

    <%- include('./footer') %>
